/* reference: https://www.sanwebe.com/2014/08/css-html-forms-designs*/


#logo_header{
  font-family: 'Porn Star Academy', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

#form_container {
/*
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
*/
  /*visibility: hidden;*/
  width: 330px;
  max-width: 400px;
  margin: 0 auto;
}


form {
  max-width: 100%;
  margin: 0;
  padding: 0px;
}

label,
select {
  display: block;
  margin: 10px 0;
}

select {
  width: 100%;
  font-size: 1em;
  padding: 5px;
  margin-bottom: 5px !important;
  /*border: 1px solid #ccc !important;*/
  /*-webkit-appearance: none;*/
}

#time_selector, #pax_selector, #customer_name, #customer_contact {
  visibility: hidden;
}

#btn {

  font-size: 16px;
  visibility: hidden;
  
  border: none;
  width: 100%;
  padding: 3%;
  background:rgba(255, 255, 255, 0.8);

  margin-top: 10px;
  border-radius: 5px;

  /*background: #007bff;
  box-sizing: border-box;
  border-bottom: 2px solid #007bff;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;*/
  
}

#btn:hover {
  /*background: rgba(91, 189, 114, 0.6); /*#0069d9;*/
  background: rgba(245, 183, 177, 0.8);
  cursor: pointer;
}

#form_container form select {
  background:rgba(255, 255, 255, 0.3);
  
}

#reservation_div form input[type="text"], #reservation_div form input[type="number"] {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  /*height: 20px;*/
  /*background: #fff;*/
  background:rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font-size: 1em;
}

form input[type="text"]:focus, form input[type="number"]:focus {
  box-shadow: 0 0 5px white;
  padding: 3%;
  border: 1px solid black;
}



#form_container {
  /*display: none;*/
}

#Confirmed {
  display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#addSign{
  color: black;
  float: right;
  padding-right:5px;
  font-size: 28px;
  font-weight: bold;
}